.section-9{
  padding-top: 100px;
  &__title{
    padding-bottom: 51px;
  }
  &__under-sub-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;
    padding-bottom: 80px;
  }
  &__images{
    padding-top: 194px;
    padding-bottom: 150px;
  }

}
