.section-4{
  padding-bottom: 100px;
  &__sub-title{
    padding-bottom: 121px;
  }
  &__title-small{
    padding-bottom: 113px;
  }
  &__big-window{
    width: 100%;
    height: auto;
  }
  &__window{
    padding-bottom: 80px;
  }
}
