.section-3{
  padding-bottom: 50px;
  padding-top: 100px;

  &__title{
    padding-bottom: 181px;
    display: block;
    color: #4F4F4F;
    font-weight: 800;
    font-size: 36px;
    &_small{
      padding-bottom: 76px ;
    }
  }
  &__sub-title{
    padding-bottom: 51px;
  }

  &__under-sub-title{
    padding-bottom: 93px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4F;

  }
  &__img-1{
      width: 100%;
      height: auto;
      max-width: 570px;
      align-items: center;

      margin-top: 72px;
  }
  &__window-1{
    padding-bottom: 80px;
    max-width: 75px;
  }
  &__window-2{
    padding-bottom: 80px;
    max-width: 150px;
  }
  &__window-3{
    padding-bottom: 80px;
    max-width: 225px;
  }
  &__window-4{
    padding-bottom: 80px;
    max-width:150px ;
    text-align: right;
  }
  &__md-none{
    display: none;
  }

  @media (max-width: 991.98px) {
    &__pc{
      display: none;
    }
    &__md-none{
      display: block;
    }
  }
  @media (min-width:767.98px) {
    &__btn-pc{

    }
  }
  @media (max-width: 767.98px){

    &__title{
      padding-bottom: 118px;
    }
    &__sub-title{
      padding-bottom: 45px;
    }
    &__under-sub-title {
      padding-bottom: 18px;
    }
    &__img-1{
      margin-top: 0;
    }
    &__btn-pc{
      display: none;
    }
    &__btn-md{
      display: block;
      text-align: center;
      margin-bottom: 110px;
    }
  }
  @media (max-width: 575.98px) {
    &__window-1{
      padding-bottom: 80px;
      max-width: 50px;
      margin-left: 10%;
    }
    &__window-2{
      padding-bottom: 80px;
      max-width: 100px;
      margin-left: 10%;
    }
    &__window-3{
      padding-bottom: 80px;
      max-width: 150px;
      margin-left: 10%;
    }
    &__window-4{
      padding-bottom: 80px;
      max-width:100px ;
      text-align: right;
    }
  }
}
